.App {
  text-align: center;
  background-color:rgb(161, 161, 161)9;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #9bdab5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #474747;
}

.App-link {
  color: #09d3ac;
  background-color: #dfdfdf
}
.App-footer {
  background-color: #cec9c9
}
